@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');
@import url('https://fonts.cdnfonts.com/css/ubuntu');

@import url("styles/$_.css");

* {
  border-radius: 0px;
}

.resizable {
  overflow: hidden;
  resize: both;
}

body {
  width: 100%;
  height: 100%;
  accent-color: #ff9d00;
  background-color: #111;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: #ffffff;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

input {
  background-color: #333;
  color: #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  line-height: normal;
}

select {
  width: fit-content;
  height: fit-content;
  background-color: #333;
  color: #fff;
  padding: 2px;
}

textarea {
  align-self: left;
  background-color: #000;
  color: #fff;
  padding: 4px;
  height: 150px;
}

input[type="checkbox"] {
  align-self: left;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 17px;
  height: 17px;
}

input[type="file"] {
  align-self: left;
  width: min-content;
}

button {
  width: max-content;
  height: max-content;
  align-self: left;
  padding: 3px;
}

video {
  align-self: center;
}

canvas {
  align-self: center;
  image-rendering: pixelated;
  margin: 0px;
  padding: 0px;
}

hr {
  width: 100%;
}

a {
  color: #ffaa00;
}

span {
  margin: 0px;
  padding: 0px;
}

audio {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.glowfire {
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#docs {
  text-align: left;
}

.controls {
  background-color: #a4947b;
  padding: 3px;
  margin: 0px;
  position: relative;
  resize: both;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.bigContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: auto;
  resize: both;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.mainVideo {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ea7010;
  line-height: 0;
}

.mainCanvas {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ea7010;
  line-height: 0;
}

.firehr {
  width: 99%;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00);
}

.whitehr {
  width: 99%;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
  cursor: not-allowed;
}

.offscreen_hide {
  width: 0px;
  height: 0px;
}

.settings-label-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 5px;
}

.settings-label-input span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: auto;
  font-size: 16px;
  text-wrap: nowrap;
}

.settings-label-input input {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.settings-label-slider-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.settings-label-slider-input span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: auto;
  font-size: 16px;
  text-wrap: nowrap;
}

.settings-label-slider-input input[type="range"] {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2px;
}

.settings-label-slider-input input {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.settings-checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px 0;
  cursor: pointer;
}

.settings-checkbox-label input[type="checkbox"] {
  margin: 0;
  flex-shrink: 0;
}

.settings-checkbox-label label {
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settings-button-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.settings-button-label button {
  margin-top: auto;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: auto;
}

.settings-button-label span {
  margin-top: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: auto;
  text-wrap: nowrap;
}

.settings-label_title {
  font-weight: bold;
  font-size: 25px;
  width: fit-content;
  height: fit-content;
}

.settings-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 6px;
}

.settings-checkbox-label-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.settings-checkbox-label-select input[type="checkbox"] {
  margin-top: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: auto;
}

.settings-checkbox-label-select span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: auto;
  text-wrap: nowrap;
}

.settings-checkbox-label-select select {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.settings-checkbox-label-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.settings-checkbox-label-input input[type="checkbox"] {
  margin-top: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: auto;
}

.settings-checkbox-label-input span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: auto;
  text-wrap: nowrap;
}

.settings-checkbox-label-input input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.settings-label-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.settings-label-select span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: auto;
  font-size: 16px;
  text-wrap: nowrap;
}

.settings-label-select select {
  width: min-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.settings-label-input_long {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 5px;
}

.settings-label-input_long span {
  width: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: auto;
  font-size: 16px;
  text-wrap: nowrap;
}

.settings-label-input_long input {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0px;
}

.sqrButton {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
}

.setting-label-shortinput {}
